.card {
  box-shadow: 10px 10px 116px 68px rgba(217,217,25,0.76);
  -webkit-box-shadow: 10px 10px 116px 68px rgba(217,217,25,0.76);
  -moz-box-shadow: 10px 10px 116px 68px rgba(217,217,25,0.76);
  
background: #3C4D5F;
background: -webkit-linear-gradient(top left, #3C4D5F, #EEC8A4);
background: -moz-linear-gradient(top left, #3C4D5F, #EEC8A4);
background: linear-gradient(to bottom right, #3C4D5F, #EEC8A4);
}